<<<<<<< HEAD
=======
.shipon{
<<<<<<< HEAD
bottom: 1px ;
color: #000;
<<<<<<< HEAD
font-size: large;
=======
=======
bottom: 1px;
>>>>>>> 0ee25673d99c8a28d28f7cffc4e84a3e7e9af5ca
>>>>>>> 435936170be1641465f99896a8623e2ad02a6799
}
>>>>>>> 7b1a9f9dab2c6bd8a4446b067770ce3328436fc9
